html {
margin: 0px;padding: 0px;
min-height: 100%;
background: #E8F6FC;
background-image: Bild;
}
body {
margin:0; padding:0;
background: ;
height: 100%;
}
#sidebar {
margin-left:-210px;
position: fixed;
left: 0px;
top:0px;
bottom: 0px;
padding: 10px;
width: 200px;
background: #19142D;
}
#sidebar ul {
list-style: none;
list-style-image: inside;
margin:0;
padding:0;
}
#sidebar ul li {
text-transform: uppercase;
margin-bottom: 10px;
letter-spacing: 0.05em;
}
#sidebar ul li span {color: transparent;}
#sidebar ul li:hover {cursor: pointer;}
#sidebar ul li:hover span {color: white;}
#sidebar ul li:hover {line-height: 2}
#sidebar ul li:hover {background-image: linear-gradient(225deg, #19142D 30%, #19234D 70%);}
#sidebar ul li:hover {
  transform:scale(1.11);
  transition: 0.3s;
}
#sidebar:hover{transform:translateX(210px);
  transition:0.5s;}
ul li {  
  color: #B9B9BA;
  font-family:  'Anton', cursive;
  border: 1px solid white;
  padding-left: 5%
}
h1 {
  position: relativ;
  margin-left: 35%;
  margin-top: 0%;
  font-size: 50px;
  font-family: 'Anton', cursive;
  letter-spacing: 10px;
  text-shadow: 4px 3px 0px rgba(0,0,0, 0.2);
}
#text {
  position: absolute;
  margin-top: static;
  margin-left:30%;
  width: 500px;
  min-height: 100%;
  background: #223C45;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 1px;
  color: white;
}
a {color: #B9B9BA;}
a:hover{color: white;}
a {text-decoration:none;}
