html {
margin: 0px;padding: 0px;
min-height: 100%;
background: #000;
background-image:url(https://github.com/JanGesell/Info4Go/blob/master/guitar-1063083.jpg?raw=true);
background-size: cover;
background-attachment: fixed;
}
body {
margin:0; padding:0;
}
#sidebar {
margin-left:-210px;
position: fixed;
left: 0px;
top:0px;
bottom: 0px;
padding: 10px;
width: 200px;
background: rgba(0,0,0, 0.95);
}
#sidebar ul {
list-style: none;
list-style-image: inside;
margin:0;
padding:0;
}
#sidebar ul li {
text-transform: uppercase;
margin-bottom: 10px;
letter-spacing: 0.05em;
}
#sidebar ul li span {color: transparent;}
#sidebar ul li:hover {cursor: pointer;}
#sidebar ul li:hover span {color: white;}
#sidebar ul li:hover {line-height: 2}
#sidebar ul li:hover {background-image: linear-gradient(225deg, #000 30%, #1d1d1d 70%);}
#sidebar ul li:hover {
  transform:scale(1.11);
  transition: 0.3s;
}
#sidebar:hover{transform:translateX(210px);
  transition:0.5s;}
#sidebar ul li {  
  color: #B9B9BA;
  font-family:  'Anton', cursive;
  border: 1px solid white;
  padding-left: 5%
}
#heading {
  text-align: center;
  font-size: 50px;
  font-family: 'Anton', cursive;
  letter-spacing: 10px;
  text-shadow: 4px 3px 0px rgba(0,0,0, 0.2);
}
#bodytext {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-height: 100%;
  background: rgba(0,0,0,0.8);
  padding: 1%;
  border-radius: 1px;
  color: white;
  letter-spacing: 1px;
  opacity: 1;
}

.text {
  margin-left: 10px;
  margin-bottom: 80px;
  opacity: 1;
  font-family: arial;
  line-height: 1.2;
  letter-spacing: 1px;
}
#sidebar a {color: #B9B9BA;}
#sidebar a:hover{color: white;}
#sidebar a {text-decoration:none;}


#sidebarheading {
  color: white;
  font-family: anton;
  letter-spacing: 2px;
  font-weight: lighter;
  margin-top: 0;
  text-align: center;
}

#bild1 {
  height: auto;
  width: 40%;
  float:right;
  margin: 20px;
  opacity: 1;
  border: 2px solid white;
}

h2 {
  font-size: 3em;
  text-align: center;
  opacity: 1; 
}

#bodytext a {
  text-decoration: none;
  color: grey;
}

#bodytext a:hover {
  color: white;
  background: grey;
}

#bild2 {
  height: auto;
  width: 14%;
  float: right;
  margin-right: 100px;
  border: 3px solid grey;
}

#ul_aufbau li {
  list-style: none;
  text-align: left;
}

#kopfplatte {
  font-size: 20px;
  color: grey;
}

#hals {
  font-size: 20px;
  color: grey;
}

#korpus {
  font-size: 20px;
  color: grey;
}

#gitarrensaiten {
  font-size: 20px;
  color: grey;
}

#table1 {
  width: 100%;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
}

#table1 th {
  border: 1px solid white;
  padding: 5px;
}

#table1 td {
  padding-top: 10px;
  border-bottom: 1px dashed #555;
}

#table1 tr:last-child td {
  border-bottom: 0px;
}

@media(max-width: 600px) {
  #table1 tr th:first-child,
  #table1 tr td:first-child {
    display: none;
  }
}

#quellen a:hover {cursor: pointer;}
#quellen a {
  font-size: 20px;
  text-align: center;
}
